* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    color: #666;
    line-height: 1.8;
}

.container {
    width: 1220px;
    margin: 120px auto;
    /* background-color: red; */
}

.title_wrap {
 width: 40px;
 background-color: red;   
}
