@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    font-family: "Noto Sans KR", sans-serif;
}

.login_wrap {
    width: 440px;
    /* height: 650px; */
    margin: 190px auto;
}

.login_wrap h2 {
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-bottom: 110px;

}

.login_wrap form {
    display: flex;
    flex-direction: column;
}


.login_wrap form input {
    width: 440px;
    height: 50px;
    border: none;
    border-bottom: 1.5px solid #dcdcdc;
    font-size: 16px;
    font-weight: 540;
    color: #666;
    margin-bottom: 20px;
}

.login_wrap .agree {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 5px;
    margin-bottom: 30px;
}

/* .login_wrap .dan {
    border: 1px solid #666;
    border-radius: 100%;
    color: #000;
    font-size: 10px;
    width: 13px;
    height: 13px;
    background-color: #fff;
} */

i {
    font-size: 14px; 
    color: #999;
}

.agree label {
    font-size: 10px;
    font-weight: 600;
    color: #444;
}

.login_wrap .login {
    background-color: #fee500;
    border: 1px solid #fee500;
    border-radius: 8px;
    color: #5f5f5f;
    width: 440px;
    height: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

.login_wrap .line_text {
    font-size: 12px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.line_text::before {
    width: 45%;
    height: 1px;
    position: absolute;
    background-color: #eee;
    top: 6px;
    left: 0;
    content: "";
}

.line_text::after {
    width: 45%;
    height: 1px;
    position: absolute;
    background-color: #eee;
    top: 6px;
    right: 0;
    content: "";
}

.login_wrap .qg_login {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #5f5f5f;
    width: 440px;
    height: 50px;
    margin-bottom: 25px;
    font-weight: bold;
}

.lks_1 {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
    text-decoration-line: none;
}

.lks_1 .member {
    margin-right: auto;

}

.lks_2 {
    display: flex;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 10px;
    color: #999;
}

.lks_2 .info {
    font-weight: bold;
    color: #666;
}

.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 3px;
    font-size: 10px;
    color: #999;
}

.copyright .copy {
    font-weight: bold;
    color: #666;
}

a {
    text-decoration-line: none;
    color: inherit;
}

