* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    margin: 30px 0;
    /* 사이 틈을 없애줌 */
    border-collapse: collapse;
}


.wrap {
    width: 800px;
    margin: 0 auto;
    margin: 50px auto;
}

.tbl_01 {
    text-align: center;
}

.tbl_01 td, .tbl_01 th {
    border: 1px solid #666;
    padding: 10px 10px ;
}

.tbl_02 {
    text-align: center;
}

.tbl_02 th, .tbl_02 td {
    border: 1px solid #999;
    padding: 10px 10px;
}

/* 짝수 줄만 배경색을 칠한다. */
.tbl_02 tr:nth-child(even) {
    background-color: #ddd;
}

.tbl_03 {
    text-align: center;
}

.tbl_03 th, .tbl_03 td {
    border: 1px solid #999;
    padding: 10px 10px;
}

/* 짝수 줄만 배경색을 칠한다. */
.tbl_03 tr:nth-child(even) {
    background-color: #ddd;
}
/* 모든 첫번째칸에 줄을 없앤다 */
.tbl_03 tr td:first-child,
.tbl_03 tr th:first-child {
    border-left: none;
}
/* 모든 마지막칸에 줄을 없앤다 */
.tbl_03 tr td:last-child,
.tbl_03 tr th:last-child {
    border-right: none;
}